* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {

  position: relative;
}

body>.menu-div {

  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-div>.menu-item {

  width: 50%;
  height: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.menu-item>#closeMenu {

  font-size: 18px;
  background-color: #fff;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: -60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item>button {

  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #2da0fd;
  font-weight: 700;
  text-align: left;
}

.menu-item>.user-info-menu {

  display: flex;
  gap: 10px;
  align-items: center;
}

.user-info-menu>.profil-img-menu {

  width: 50px;
  height: 50px;
  background-color: #1c1d1f;
  color: #fff;
  font-size: 18px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {

  width: 100%;
  /* display: none; */
  margin-bottom: 4.2%;
  position: fixed;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif
}

header>.navbar {

  width: 100%;
  height: 80px;
  display: flex;
  background-color: #fff;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar>.menu {

  display: none;
}

.navbar>.logo {

  width: 200px;
}

.logo>img {

  width: 150px;
}

.navbar>ul {

  display: flex;
  list-style: none;
  gap: 30px;
}

ul>li {
  font-size: 16px;
  font-weight: 500;
}

li>a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
  font-weight: bold;
}

li>a:hover {
  color: #2da0fd;
}

/* 
.navbar>.search-bar {

  width: 350px;
  height: 38px;
  display: flex;
  gap: 10px;
}

.search-bar>.search-button {

  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 7px;
  background-color: #2da0fd;
}

.search-bar>.search-button>.bi-search {

  font-size: 20px;
  color: #fff;
}

.search-bar>input {

  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 7px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}

.search-bar>input::placeholder {

  color: #ccc;
  font-weight: 500;
} */

/* From Uiverse.io by LeonKohli */
.ui-input-container {
  position: relative;
  width: 400px;
}

.ui-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s;
}

.ui-input:focus {
  border-color: #2da0fd;
}

.ui-input-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #2da0fd;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.ui-input:focus+.ui-input-underline {
  transform: scaleX(1);
}

.ui-input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #2d9ffd19;
  transition: width 0.3s;
}

.ui-input:focus~.ui-input-highlight {
  width: 100%;
}

.ui-input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  transition: color 0.3s;
}

.ui-input:focus~.ui-input-icon {
  color: #2da0fd;
}

.ui-input-icon svg {
  width: 20px;
  height: 20px;
}


.navbar>.add {

  width: 70px;
}

.add>.wishlist-add {

  display: flex;
  gap: 10px;
  align-items: center;
}

.add>.wishlist-add>.bi-cart,
.bi-heart {

  font-size: 24px;
}

.navbar>.responsive {

  display: none;
}

.registration-part>.login-button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #2da0fd;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #2da0fd;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.login-button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 10px 2px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #fff;
}

.login-button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.login-button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.login-button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.navbar>.registration-part {

  display: flex;
  gap: 20px;
  position: relative;
  /* background-color: red; */
  padding: 20px 0;
}

.registration-part>#userInfo {

  display: flex;
  align-items: center;
  gap: 5px;
}

/* .registration-part>#userInfo>.user-div{


.registration-part>#userInfo:hover>.user-div{

  display: flex;
} */

.registration-part>.user-div {
  width: 300px;
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  position: absolute;
  top: 55px;
  right: -50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.user-div>.user-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-div>button {

  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 18px;
  text-align: left;
  padding: 5px 10px;
  border-radius: 7px;
}

.user-div>button:hover {

  background-color: #f0f0f0;
}


#userInfo,
.user-item>.profil-img {

  width: 32px;
  height: 32px;
  border-radius: 9999px;
  background-color: #16161D;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-part:hover>.user-div {

  display: block;
}

.registration-part>.register-button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #2da0fd;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: #2da0fd;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.register-button:hover {
  background: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #2da0fd;
}

.register-button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.register-button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.register-button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.container {

  padding: 0 200px;
}

.timer-fade {

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.timer-fade>#exitBtn {

  position: absolute;
  top: 100px;
  right: 360px;
  font-size: 32px;
  color: #fff;
}

.timer-fade>.timer-modal {

  position: absolute;
  top: 100px;
  left: 300px;
  width: 1200px;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.timer-modal>.timer-left {

  width: 500px;
}

.timer-modal>.timer-left>.img-box {

  width: 100%;
  height: 100%;
}

.timer-left>.timer-img-box>#timer-foto {

  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.timer-modal>.timer-right {

  width: 650px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


.timer-right>p {

  width: 500px;
  text-align: center;
}

.timer-right>p>span {

  font-weight: bold;
}

.timer-right>.countdown {

  width: 500px;
  height: 50px;
  /* background-color: blue; */
  font-size: 32px;
  text-align: center;
  padding: 5px 0;
  color: red;
  font-weight: bolder;
}

.timer-right>#locationCourse {

  width: 500px;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  background-color: #2da0fd;
  color: #fff;
}

.container>#scrollBtn {

  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  border: none;
  background-color: #2da0fd;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  position: fixed;
  transition: 0.3s ease;
  z-index: 10000;
}

.main-section {

  width: 100%;
  background-color: #000;
}

.main-section>.slide-box {

  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.slide-box>#slide-img {

  width: 100%;
  height: auto;
}

.slide-box-res>.img-text {

  width: 550px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  padding: 10px;
  gap: 20px;
}

.img-text>h1 {

  font-size: 36px;
  color: #333;
}

.img-text>p {

  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.img-text>.begin-button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #2da0fd;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: #2da0fd;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.begin-button:hover {
  background: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #2da0fd;
}

.begin-button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.begin-button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.begin-button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.slide-box-res>.img-text-second {

  width: 550px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 20%;
  right: 20%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  padding: 10px;
  gap: 20px;
}

.img-text-second>h1 {

  font-size: 36px;
  color: #333;
}

.img-text-second>p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.img-text-second>.begin-button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #2da0fd;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: #2da0fd;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.begin-button:hover {
  background: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #2da0fd;
}

.begin-button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.begin-button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.begin-button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* COURSE */

.courses {

  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}

.courses>h2 {

  font-size: 36px;
  font-weight: 700;
}

.courses>.course-box {

  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
}

.course-box>.course-list {

  display: flex;
  /* gap: 10px; */
  /* background-color: red; */
  border-bottom: 1px solid #D1D2E0;
}

.loader {
  width: 100%;
  height: 14px;
  background: repeating-linear-gradient(-45deg, #000 0 15px, #0000 0 20px) left/200% 100%;
  animation: l3 2s infinite linear;
}

@keyframes l3 {
  100% {
    background-position: right
  }
}

.course-box>.btn-direction {

  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}

.course-box:hover>.btn-direction {

  visibility: visible;
}

.btn-direction>button {

  width: 80px;
  height: 30px;
  font-size: 24px;
  font-weight: bolder;
  background-color: #2da0fd;
  color: #fff;
  border: none;
}

.course-list>button {

  width: 200px;
  padding: 20px 0;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 700;
  /* border-radius: 9999px; */
  color: #2a2b3f7c;
}

.course-list>button:nth-child(1) {
  border-bottom: 2px solid #000;
  color: #000;
}

.course-card-list {

  display: flex;
  gap: 20px;
  padding: 30px 50px;
  /* background-color: #66666680; */
}

/* 
.course-card-list>.btn-left {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  border: none;
  background-color: #2da0fd;
  color: #fff;
  font-size: 16px;
} */

.course-card-list>.lesson-card {

  width: 309px;
  height: 437px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* background-color: red; */
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px 20px;

}

.course-card-list>.lesson-card:hover {

  background-color: #f6f7f9;
}

.lesson-card>img {

  width: 277px;
  height: 255px;
  border: 1px solid #cccccc32;
  border-radius: 7px;
}

.lesson-card>.card-text {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
  /* background-color: #f0c040; */
}

.card-text>h2 {

  width: 100%;
  min-height: 70px;
}

/* BOOK */

.books {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  gap: 20px;
  padding: 50px 0px;
  position: relative;
  margin-bottom: 50px;
}

.books>.main-text-books>h1 {
  font-size: 36px;
  color: #333;
}

.books>.main-text-books>p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.books>.books-box>.scroller {

  width: 100%;
  display: flex;
  justify-content: space-between;
}

.books-box>.scroller>.book-card {

  width: 418px;
  background-color: #fff;
  border-radius: 7px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 24px;
  border: 1px solid #e6e6e6;
  padding: 10px 15px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  margin-bottom: 20px;
}

.book-card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* .book-card:hover > img {

  transform: scale(-1.05);
  transition: transform 0.3s ease;
} */
.book-card>img {
  width: 400px;
  height: auto;
  border-radius: 14px;
}

.book-card>h2 {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  text-align: left;
}

.book-card>.card-items {

  display: flex;
  justify-content: left;
  gap: 10px;
}

.card-items>span {

  padding: 5px;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.card-items>span>.bi-star-fill {

  color: #f0c040;
}

.book-card>.button {
  background-color: #ffffff00;
  color: #000;
  width: 8.5rem;
  height: 2.9em;
  border: #ccc 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #3654ff;
  cursor: pointer;
  color: #fff;
  transition: all 0.6s ease;
  border: none;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}

.books>.all-view-books {

  width: 100%;
  display: flex;
  align-items: left;
}

.all-view-books>.view-all-button {
  padding: 5px;
  border: 1px solid #2da0fd;
  font-size: 18px;
  border-radius: 7px;
  color: #2da0fd;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  background-color: transparent;
}

.books>.view-all-button:hover {
  background-color: rgba(54, 84, 255, 0.2);
  color: #2da0fd;
  /* box-shadow: 0 0 10px 2px rgba(41, 160, 253, 0.5); */
}

.faq-part {

  width: 100%;
  display: block;
  flex-direction: column;
  align-items: left;
  padding: 50px 200px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
}

.faq-part>.faq-questions {

  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  border: 2px solid #e6e6e6;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
}

.faq-questions>.faq-card {

  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
}


.footer {
  display: block;
  background-color: #1c1d1f;
  color: #ccc;
  padding: 40px 60px;
  font-family: Arial, sans-serif;
}

.footer a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 4px 0;
  font-size: 14px;
}

.footer a:hover {
  color: #fff;
}

.footer-top {
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top p {
  font-size: 14px;
}

.footer-top .footer-logos img {
  height: 25px;
  margin-left: 15px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
}

.footer-links h4 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 15px;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
}

.footer-bottom h4 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 15px;
}

.footer-copy {
  border-top: 1px solid #333;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.footer-copy .language {
  cursor: pointer;
}

/* From Uiverse.io by Galahhad */

.logform-blurDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
}

.content i {
  margin-bottom: 41px;
}

.content>img {

  width: 150px;
}

.container-logForm {

  width: 500px;
  border-radius: 1px;
  padding: 50px 40px 20px 40px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #737373;
  border: 1px solid rgb(219, 219, 219);
  text-align: center;
  background: white;
}

.container-logForm svg {
  width: 16px;
  height: auto;
}

.content__form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.content__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.content__form label {
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  align-items: center;
  position: relative;
  min-width: 268px;
  height: 38px;
  background: rgb(250, 250, 250);
  border-radius: 3px;
}

.content__form span {
  position: absolute;
  text-overflow: ellipsis;
  transform-origin: left;
  font-size: 12px;
  left: 8px;
  pointer-events: none;
  transition: transform ease-out .1s
}

.content__form input {
  width: 100%;
  background: inherit;
  border: 0;
  outline: none;
  padding: 9px 8px 7px 8px;
  text-overflow: ellipsis;
  font-size: 16px;
  vertical-align: middle;
}

.content__form input:valid+span {
  transform: scale(calc(10 / 12)) translateY(-10px);
}

.content__form input:valid {
  padding: 14px 0 2px 8px;
  font-size: 12px;
}

.content__or-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-transform: uppercase; */
  font-size: 13px;
  column-gap: 18px;
  margin-top: 18px;
}

.content__or-text span:nth-child(3),
.content__or-text span:nth-child(1) {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(219, 219, 219);
}

.content__forgot-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  row-gap: 21px;
}

.content__forgot-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #00376b;
}

.content__forgot-buttons button:first-child {
  color: #385185;
  font-size: 14px;
  font-weight: 600;
}

.content__form button {
  background: rgb(0, 149, 246);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  padding: 7px 16px;
  cursor: pointer;
}

.content__form button:hover {
  background: rgb(24, 119, 242);
}

.content__form button:active:not(:hover) {
  background: rgb(0, 149, 246);
  opacity: .7;
}

@media (max-width: 600px) {


  .navbar>.menu {

    display: block;
  }

  .menu>.bi-list {

    font-size: 24px;
  }

  header>.navbar {

    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .navbar>.logo {

    margin-left: 30px;
  }

  header>.navbar>ul {

    display: none;
  }

  header>.navbar>.registration-part {

    display: none;
  }

  header>.navbar>.search-bar,
  .add {

    display: none;
  }

  .ui-input-container {
    display: none;
  }

  header>.navbar>.responsive {

    display: flex;
    gap: 10px;
  }

  header>.navbar>.responsive>.bi-search,
  .bi-cart {

    font-size: 20px;
  }

  .container {

    padding: 0 20px;
    padding-top: 50px;
  }

  .main-section>.slide-box {

    width: 100%;
    display: flex;
    flex-direction: column;
    position: static;
  }

  .slide-box>.slide-box-res {

    background-color: transparent;
    height: 200px;
  }

  .slide-box-res>.img-text {

    width: 100%;
    position: static;
  }

  .img-text>h1 {

    font-size: 24px;
  }

  .slide-box-res>.img-text-second {

    width: 100%;
    position: static;
  }


  .img-text-second>h1 {

    font-size: 24px;
  }

  .scroller {

    overflow-x: scroll;
  }

  .book-card>.button {
    display: none;
  }

  .course-card-list {

    padding: 20px 0;
    overflow-x: scroll;
  }

  .course-card-list>.lesson-card {

    width: 209px;
    height: 337px;
  }

  .course-list>button {

    width: 100px;
    font-size: 14px;
  }

  .lesson-card>img {

    width: 177px;
    height: 155px;
  }

  .faq-part {

    padding: 20px;
  }


  .timer-fade>.timer-modal {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 480px;
    height: 500px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .timer-fade>#exitBtn {
    position: absolute;
    top: 100px;
    right: 15px;
    font-size: 32px;
    color: #fff;
  }

  .timer-left>.timer-img-box>#timer-foto {

    width: 91%;
    height: 250px;
  }

  .timer-modal>.timer-right {

    width: 100%;
  }

  .timer-modal>.timer-right>h1 {

    font-size: 24px;
  }

  .timer-modal>.timer-right>#locationCourse {

    width: 95%;
    height: 50px;
    padding: 0;
  }
}