* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    position: relative;
}

header {

    display: flex;
    margin-bottom: 4.2%;

}

header>.navbar {

    width: 100%;
    height: 80px;
    display: flex;
    background-color: #fff;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    z-index: 1;
}

.navbar>.logo {

    width: 200px;
}

.logo>img {

    width: 150px;
}

.navbar>ul {

    display: flex;
    list-style: none;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif
}

ul>li {
    font-size: 16px;
    font-weight: 500;
}

li>a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
    font-weight: bold;
}

li>a:hover {
    color: #2da0fd;
}

.navbar>.search-bar {

    width: 350px;
    height: 38px;
    display: flex;
    gap: 10px;
}

.search-bar>.search-button {

    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 7px;
    background-color: #2da0fd;
}

.search-bar>.search-button>.bi-search {

    font-size: 20px;
    color: #fff;
}

.search-bar>input {

    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}

.search-bar>input::placeholder {

    color: #ccc;
    font-weight: 500;
}

.registration-part>.login-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #2da0fd;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #2da0fd;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.login-button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff;
}

.login-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.login-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.login-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.navbar>.registration-part {

    display: flex;
    gap: 20px;
}

.navbar>.registration-part {

    display: flex;
    gap: 20px;
    position: relative;
    /* background-color: red; */
    padding: 20px 0;
}

.registration-part>#userInfo {

    display: flex;
    align-items: center;
    gap: 5px;
}

.registration-part>.user-div {
    width: 300px;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    position: absolute;
    top: 55px;
    right: -50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.user-div>.user-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-div>button {

    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    text-align: left;
    padding: 5px 10px;
    border-radius: 7px;
}

.user-div>button:hover {

    background-color: #f0f0f0;
}

#userInfo,
.user-item>.profil-img {

    width: 32px;
    height: 32px;
    border-radius: 9999px;
    background-color: #16161D;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-part:hover>.user-div {

    display: block;
}

.registration-part>.register-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #2da0fd;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: #2da0fd;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.register-button:hover {
    background: #fff;
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #2da0fd;
}

.register-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.register-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.register-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

/* CONTAINER */

.container {

    padding: 50px 450px;
}

.container>.course-card-list {

    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 20px;
    /* background-color: red; */
}

.course-card-list>.lesson-card {

    width: 309px;
    height: 437px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: red; */
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 10px 20px;

}

.course-card-list>.lesson-card:hover {

    background-color: #f6f7f9;
}

.lesson-card>img {

    width: 277px;
    height: 255px;
    border: 1px solid #cccccc32;
    border-radius: 7px;
}

.lesson-card>.card-text {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
    /* background-color: #f0c040; */
}

.card-text>h2 {

    width: 100%;
    min-height: 70px;
}

/* LOGFORM */
.logform-blurDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}

.content i {
    margin-bottom: 41px;
}

.content>img {

    width: 150px;
}

.container-logForm {

    width: 500px;
    border-radius: 1px;
    padding: 50px 40px 20px 40px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #737373;
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
    background: white;
}

.container-logForm svg {
    width: 16px;
    height: auto;
}

.content__form {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.content__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.content__form label {
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    position: relative;
    min-width: 268px;
    height: 38px;
    background: rgb(250, 250, 250);
    border-radius: 3px;
}

.content__form span {
    position: absolute;
    text-overflow: ellipsis;
    transform-origin: left;
    font-size: 12px;
    left: 8px;
    pointer-events: none;
    transition: transform ease-out .1s
}

.content__form input {
    width: 100%;
    background: inherit;
    border: 0;
    outline: none;
    padding: 9px 8px 7px 8px;
    text-overflow: ellipsis;
    font-size: 16px;
    vertical-align: middle;
}

.content__form input:valid+span {
    transform: scale(calc(10 / 12)) translateY(-10px);
}

.content__form input:valid {
    padding: 14px 0 2px 8px;
    font-size: 12px;
}

.content__or-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-transform: uppercase; */
    font-size: 13px;
    column-gap: 18px;
    margin-top: 18px;
}

.content__or-text span:nth-child(3),
.content__or-text span:nth-child(1) {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(219, 219, 219);
}

.content__forgot-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    row-gap: 21px;
}

.content__forgot-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: #00376b;
}

.content__forgot-buttons button:first-child {
    color: #385185;
    font-size: 14px;
    font-weight: 600;
}

.content__form button {
    background: rgb(0, 149, 246);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 16px;
    cursor: pointer;
}

.content__form button:hover {
    background: rgb(24, 119, 242);
}

.content__form button:active:not(:hover) {
    background: rgb(0, 149, 246);
    opacity: .7;
}