* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: #333;
    color: #fff;
    transition: top 0.3s ease;
    z-index: 1000;
}

header>.navbar {
    width: 100%;
    display: flex;
    background-color: #000;
    padding: 10px;
    border-bottom: 1px solid #595C73;
}

.navbar>.left-side {
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.left-side>.logo {

    width: 200px;
}

.logo>img {

    width: 100%;
}

.left-side>.course-name {

    width: auto;
    min-width: 300px;
    margin-top: 6px;
    border-left: 2px solid #ccc;
    padding: 5px;
    padding-left: 10px;
}

.con {

    display: flex;
}

#main-video {

    width: 1280px;
    height: 720px;
    background-color: #000;
}

.thumbs {

    width: calc(100% - 1280px);
    background-color: red;
    margin-top: 60px;
}

.thumbs>div{

    width: 100%;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #f0f0ff;
    padding: 5px;
}

.thumbs>div>img {

    width: 100px;
    border-radius: 7px;
}