* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {

    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 200px;
}

.container>h1 {

    font-size: 36px;
    color: #1a73e8;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.container>.manage-choose {

    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: 20px;
    margin-bottom: 70px;
}

.manage-choose>div{

    width: 200px;
    height: 200px;
    padding: 15px;
    border-radius: 7px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    /* background-color: #1a73e8; */
}

.manage-choose>.users{

    background-color: #28a745;
}

.manage-choose>.contacts{

    background-color: #ffc107;
}

.manage-choose>.posts{

    background-color: #dc3545;
}

.container>.total {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.total>h2 {

    width: 100%;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    background-color: #1a73e8;
}